<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://52.183.119.175:5432/bpmonitor</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <property name="connection.username">root</property>
        <property name="connection.password">betty35</property>
        <mapping class="bzha2709.comp5216.au.edu.sydney.bpmon.backend.db.entities.BpMeasuresEntity"/>
        <mapping class="bzha2709.comp5216.au.edu.sydney.bpmon.backend.db.entities.ChallengeEntity"/>
        <mapping class="bzha2709.comp5216.au.edu.sydney.bpmon.backend.db.entities.ExcerciseEntity"/>
        <mapping class="bzha2709.comp5216.au.edu.sydney.bpmon.backend.db.entities.RecordsEntity"/>
        <mapping class="bzha2709.comp5216.au.edu.sydney.bpmon.backend.db.entities.UserEntity"/>
        <mapping class="bzha2709.comp5216.au.edu.sydney.bpmon.backend.db.entities.UserScoreEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>